/.vscode
bin
iso_root
limine
obj
image.iso
bin/myos
iso_root/boot/myos
iso_root/boot/limine/limine-bios-cd.bin
iso_root/boot/limine/limine-bios.sys
iso_root/boot/limine/limine-uefi-cd.bin
iso_root/EFI/BOOT/BOOTIA32.EFI
iso_root/EFI/BOOT/BOOTX64.EFI
obj/src/main.c.d
obj/src/drivers/keyboard.c.d
obj/src/drivers/keyboard.c.o
obj/src/main.c.o
obj/src/drivers/memory.c.d
obj/src/drivers/memory.c.o
qemu.log
